@font-face {
    font-family: "pokemon-solid";
    src: url("src/assets/fonts/pokemon/Pokemon-Solid.ttf");
}

@font-face {
    font-family: "pokemon-hollow";
    src: url("src/assets/fonts/pokemon/Pokemon Hollow.ttf");
}

@font-face {
    font-family: "jackie";
    src: url("src/assets/fonts/go-jackie/Go Jackie.ttf");
}